body {
    background: #1e1f2f;
    color: #d9d9d9;
    margin: 2em auto;
    max-width: 77em;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

#main-container {
	margin: 8px;
}

a {
    color: #00a2e7;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    background: linear-gradient(to bottom, #2b2d3e 0%, #262835 100%);
    width: 15rem;
    height: 13rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    
}

.project-card > h3 {
    margin: 0;
    padding: 0;
}

.project-title {
    color: #d9d9d9;
    text-decoration: none;
}

.project-title:hover {
    color: #00a2e7;
    text-decoration: underline;
}

.icon {
    width: 1em;
    height: 1em;
    stroke: currentColor;
    fill: none;
    stroke-width: 2px;
}
